<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/sign.css}">

    <title>Home Page</title>
</head>
<body>

<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>


<!-- Main Container Start -->
<div class="container">
    <img class="container-img" src="file:///C:/Users/user/Downloads/Telegram%20Desktop/pexels-erik-mclean-4061973.jpg"
         alt="">
    <h1>Дорожные знаки!</h1>
</div>
<h2>Ogohlantiruvchi belgilar</h2>

<div class="container">
    <div class="card">
        <img src="https://uzavtoyolbelgi.uz/uploads/store/product/a8caf81b9eeee75855b0131ead902470.gif"
             alt="Image" class="card-image">
        <div class="card-text">
            <p>1.1Shlagbaumli temir yo'l kesishmasi</p>
        </div>
    </div>
    <div class="card">
        <img src="https://uzavtoyolbelgi.uz/uploads/store/product/a8caf81b9eeee75855b0131ead902470.gif"
             alt="Image" class="card-image">
        <div class="card-text">
            <p>1.1Shlagbaumli temir yo'l kesishmasi</p>
        </div>
    </div>
    <div class="card">
        <img src="https://uzavtoyolbelgi.uz/uploads/store/product/a8caf81b9eeee75855b0131ead902470.gif"
             alt="Image" class="card-image">
        <div class="card-text">
            <p>1.1Shlagbaumli temir yo'l kesishmasi</p>
        </div>
    </div>
    <div class="card">
        <img src="https://uzavtoyolbelgi.uz/uploads/store/product/a8caf81b9eeee75855b0131ead902470.gif"
             alt="Image" class="card-image">
        <div class="card-text">
            <p>1.1Shlagbaumli temir yo'l kesishmasi</p>
        </div>
    </div>
    <div class="card">
        <img src="https://uzavtoyolbelgi.uz/uploads/store/product/a8caf81b9eeee75855b0131ead902470.gif"
             alt="Image" class="card-image">
        <div class="card-text">
            <p>1.1Shlagbaumli temir yo'l kesishmasi</p>
        </div>
    </div>
    <div class="card">
        <img src="https://uzavtoyolbelgi.uz/uploads/store/product/a8caf81b9eeee75855b0131ead902470.gif"
             alt="Image" class="card-image">
        <div class="card-text">
            <p>1.1Shlagbaumli temir yo'l kesishmasi</p>
        </div>
    </div>
</div>
<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>